In [ ]:
import pandas as pd
from sqlalchemy import create_engine,types
import datetime as dt
import numpy as np

def funcion(**kwargs):
    engine = create_engine('mysql+mysqldb://E09943:w0rk3r@172.31.158.5/nsn_bsc_registros')
    engine_insert = engine = create_engine('mysql+mysqldb://E09943:w0rk3r@172.31.158.5/indisponibilidad')
    data = pd.read_sql("SELECT * FROM nsn_bsc_registros.registro_alarma_celdas",engine).query("CODIGO_ALARMA=='7767'")
    data['fecha'] = pd.to_datetime(data["FECHA"].astype('str')+
                                   ' '+data["HORA"].apply(lambda x: '{:02d}:{:02d}:{:02d}'.format(
                                       x.components.hours, x.components.minutes, x.components.seconds)))
    data['fecha_captura'] = pd.to_datetime(data["FECHA_CAPTURA"].astype('str')+
                                           ' '+data["HORA_CAPTURA"].apply(lambda x: '{:02d}:{:02d}:{:02d}'.format(
                                               x.components.hours, x.components.minutes, x.components.seconds)))
    data = data.pivot_table(index=['FUENTE', 'NUMERO_BCF', 'NUMERO_BTS', 'NOMBRE_CELDA','NUMERO_ALARMA'],
                            columns='TIPO',values=['fecha','fecha_captura'],aggfunc='first')
    data.columns = data.columns.map('{0[1]}_{0[0]}'.format)
    data.reset_index(inplace=True)
    now = dt.datetime.now()
    data['status']=np.nan
    data.loc[pd.isnull(data['CANCEL_fecha']),'status']='OOS'
    data.fillna(value={
        'ALARM_fecha':pd.to_datetime("{}-{}-{} 00:00:00".format(now.year,now.month, now.day)),
        'CANCEL_fecha':pd.to_datetime("{}-{}-{} {:02d}:{:02d}:{:02d}".format(now.year,now.month, 
                                                                             now.day,now.hour,now.minute,now.second))
        },inplace=True
               )
    data['fecha_hoy'] = pd.to_datetime("{}-{}-{} 00:00:00".format(now.year,now.month, now.day))
    data['fecha_comp']=data['ALARM_fecha']
    data.loc[data.ALARM_fecha<data.fecha_hoy, 'fecha_comp']=data['fecha_hoy']
    data['tiempo']=((data['CANCEL_fecha']-data['fecha_comp']).dt.total_seconds())/60
    data.loc[pd.isnull(data.CANCEL_fecha_captura), 'CANCEL_fecha_captura']=data['ALARM_fecha_captura']
    data['fecha']=data['CANCEL_fecha_captura'].dt.strftime('%Y-%m-%d')
    data['hora']=data['CANCEL_fecha_captura'].dt.strftime('%H:%M:%S')
    data.rename(index=str, columns={"FUENTE": "bsc", 
                                    "NUMERO_BCF": "numero_bcf",
                                    "NUMERO_BTS":"numero_sec",
                                    "NOMBRE_CELDA":"nombre_sec",
                                    "ALARM_fecha":"hora_inicio",
                                    "CANCEL_fecha":"hora_fin"

                                   },inplace=True)
    data.drop(axis=1,labels=["NUMERO_ALARMA","ALARM_fecha_captura",
                             "CANCEL_fecha_captura","fecha_hoy","fecha_comp"],
              inplace=True)
    data['num']=data.index
    data.set_index(keys='num')
    data = data[data.columns.tolist()[-1:] + data.columns.tolist()[:-1]]
    data.to_sql(name="registro_alarma",schema="indisponibilidad",con=engine_insert,if_exists="replace", index=False)
    return data
    
if __name__=='__main__':
    funcion()

In [321]:
data = funcion()
data

,num,bsc,numero_bcf,numero_sec,nombre_sec,CODIGO_ALARMA,hora_inicio,hora_fin,status,tiempo,fecha,hora
0,0,BSCBTO02,0111,0111,TORUNOS1,7767,2017-10-11 07:16:23,2017-10-11 07:16:53,NaN,0.500000,2017-10-11,08:47:44
1,1,BSCBTO02,0111,0111,TORUNOS1,7767,2017-10-11 07:17:06,2017-10-11 07:18:01,NaN,0.916667,2017-10-11,08:47:44
2,2,BSCBTO02,0115,0115,DUSA1,7767,2017-10-11 03:02:25,2017-10-11 03:04:06,NaN,1.683333,2017-10-11,08:47:44
3,3,BSCBTO02,0115,0116,DUSA2,7767,2017-10-11 03:02:33,2017-10-11 03:04:06,NaN,1.550000,2017-10-11,08:47:44
4,4,BSCBTO02,0136,0136,QUIBOR1,7767,2017-10-11 00:35:11,2017-10-11 00:35:44,NaN,0.550000,2017-10-11,08:47:44
5,5,BSCBTO02,0136,0137,QUIBOR2,7767,2017-10-11 00:58:35,2017-10-11 00:58:58,NaN,0.383333,2017-10-11,08:47:44
6,6,BSCBTO02,0139,0139,QUIBOR3,7767,2017-10-11 00:58:24,2017-10-11 00:59:01,NaN,0.616667,2017-10-11,08:47:44
7,7,BSCBTO02,0222,0222,TORUNOS2,7767,2017-10-11 07:16:27,2017-10-11 07:17:05,NaN,0.633333,2017-10-11,08:47:44
8,8,BSCBTO02,0222,0222,TORUNOS2,7767,2017-10-11 07:17:21,2017-10-11 07:17:59,NaN,0.633333,2017-10-11,08:47:44
9,9,BSCBTO02,0233,0233,TORUNOS3,7767,2017-10-11 07:16:29,2017-10-11 07:17:05,NaN,0.600000,2017-10-11,08:47:44
10,10,BSCBTO02,0233,0233,TORUNOS3,7767,2017-10-11 07:17:33,2017-10-11 07:17:57,NaN,0.400000,2017-10-11,08:47:44
11,11,BSCBTO02,0346,0346,SABDPARRA1,7767,2017-10-11 01:08:13,2017-10-11 01:11:45,NaN,3.533333,2017-10-11,08:47:44
12,12,BSCBTO02,0346,0346,SABDPARRA1,7767,2017-10-11 03:16:27,2017-10-11 03:19:58,NaN,3.516667,2017-10-11,08:47:44
13,13,BSCBTO02,0346,0346,SABDPARRA1,7767,2017-10-11 05:24:48,2017-10-11 05:28:19,NaN,3.516667,2017-10-11,08:47:44
14,14,BSCBTO02,0346,0346,SABDPARRA1,7767,2017-10-11 07:33:10,2017-10-11 07:36:41,NaN,3.516667,2017-10-11,08:47:44
15,15,BSCBTO02,0346,0347,SABDPARRA2,7767,2017-10-11 01:20:02,2017-10-11 01:23:35,NaN,3.550000,2017-10-11,08:47:44
16,16,BSCBTO02,0346,0347,SABDPARRA2,7767,2017-10-11 03:28:29,2017-10-11 03:32:02,NaN,3.550000,2017-10-11,08:47:44
17,17,BSCBTO02,0346,0347,SABDPARRA2,7767,2017-10-11 05:36:46,2017-10-11 05:40:19,NaN,3.550000,2017-10-11,08:47:44
18,18,BSCBTO02,0346,0347,SABDPARRA2,7767,2017-10-11 07:45:04,2017-10-11 07:48:38,NaN,3.566667,2017-10-11,08:47:44
19,19,BSCBTO02,0433,0709,YARITAGUA9,7767,2017-10-11 05:01:22,2017-10-11 05:02:22,NaN,1.000000,2017-10-11,08:47:44
20,20,BSCBTO02,0433,0709,YARITAGUA9,7767,2017-10-11 05:12:24,2017-10-11 16:19:57,OOS,667.550000,2017-10-11,08:47:44
21,21,BSCBTO02,0532,0532,ELGUAYA1,7767,2017-10-10 23:11:15,2017-10-11 16:19:57,OOS,979.950000,2017-10-11,08:47:44
22,22,BSCBTO02,0532,0533,ELGUAYA2,7767,2017-10-10 23:11:16,2017-10-11 16:19:57,OOS,979.950000,2017-10-11,08:47:44
23,23,BSCBTO02,0535,0535,ELGUAYA3,7767,2017-10-10 23:11:17,2017-10-11 16:19:57,OOS,979.950000,2017-10-11,08:47:44
24,24,BSCBTO02,0811,0811,QUIBOR6,7767,2017-10-11 00:19:04,2017-10-11 00:19:10,NaN,0.100000,2017-10-11,08:47:44
25,25,BSCBTO02,0811,0811,QUIBOR6,7767,2017-10-11 00:58:09,2017-10-11 00:59:00,NaN,0.850000,2017-10-11,08:47:44
26,26,BSCBTO02,0811,0812,QUIBOR7,7767,2017-10-11 00:58:48,2017-10-11 00:59:07,NaN,0.316667,2017-10-11,08:47:44
27,27,BSCBTO03,0394,0394,CDCOMUBCC1,7767,2017-10-11 00:04:22,2017-10-11 00:05:13,NaN,0.850000,2017-10-11,08:47:44
28,28,BSCBTO03,0394,0394,CDCOMUBCC1,7767,2017-10-11 00:40:54,2017-10-11 00:42:24,NaN,1.500000,2017-10-11,08:47:44
29,29,BSCBTO03,0394,0394,CDCOMUBCC1,7767,2017-10-11 03:42:06,2017-10-11 03:56:58,NaN,14.866667,2017-10-11,08:47:44
...,...,...,...,...,...,...,...,...,...,...,...,...
4024,4024,BSCVAL04,0211,0211,TINAQUILL6,7767,2017-10-11 00:05:02,2017-10-11 16:19:57,OOS,974.916667,2017-10-11,08:47:44
4025,4025,BSCVAL04,0211,0212,TINAQUILL7,7767,2017-10-11 00:04:55,2017-10-11 16:19:57,OOS,975.033333,2017-10-11,08:47:44
4026,4026,BSCVAL04,0211,0213,TINAQUILL8,7767,2017-10-11 00:04:48,2017-10-11 16:19:57,OOS,975.150000,2017-10-11,08:47:44
4027,4027,BSCVAL04,0223,0225,TINAQUIN3,7767,2017-10-10 22:37:03,2017-10-11 16:19:57,OOS,979.950000,2017-10-11,08:47:44
4028,4028,BSCVAL04,0226,0228,TINAQUIN8,7767,2017-10-10 22:36:15,2017-10-11 16:19:57,OOS,979.950000,2017-10-11,08:47:44
4029,4029,BSCVAL04,0283,0283,CUMACA1,7767,2017-10-11 00:00:00,2017-10-11 00:04:42,NaN,4.700000,2017-10-11,08:47:44
4030,4030,BSCVAL04,0283,0284,CUMACA2,7767,2017-10-11 00:00:00,2017-10-11 00:04:42,NaN,4.700000,2017-10-11,08:47:44
4031,4031,BSCVAL04,0283,0285,CUMACA3,7767,2017-10-11 00:00:00,2017-10-11 00:04:42,NaN,4.700000,2017-10-11,08:47:44
4032,4032,BSCVAL04,0418,0418,IEQ1,7767,2017-10-10 17:49:45,2017-10-11 16:19:57,OOS,979.950000,2017-10-11,08:47:44
4033,4033,BSCVAL04,0523,0051,TRIGALCEN3,7767,2017-10-11 00:55:45,2017-10-11 07:06:40,NaN,370.916667,2017-10-11,08:47:44
4034,4034,BSCVAL04,0523,0523,TRIGALCEN6,7767,2017-10-11 00:57:47,2017-10-11 07:06:40,NaN,368.883333,2017-10-11,08:47:44
4035,4035,BSCVAL04,0523,0524,TRIGALCEN7,7767,2017-10-11 00:59:16,2017-10-11 07:06:40,NaN,367.400000,2017-10-11,08:47:44
4036,4036,BSCVAL04,0523,0525,TRIGALCEN8,7767,2017-10-11 00:56:28,2017-10-11 07:06:40,NaN,370.200000,2017-10-11,08:47:44
4037,4037,BSCVAL04,0541,0789,ELBOSQUE8,7767,2017-10-10 17:49:41,2017-10-11 16:19:57,OOS,979.950000,2017-10-11,08:47:44
4038,4038,BSCVAL04,0661,0419,IEQ2,7767,2017-10-10 17:49:38,2017-10-11 16:19:57,OOS,979.950000,2017-10-11,08:47:44
4039,4039,BSCVAL04,0661,1034,IEQ7,7767,2017-09-30 19:07:51,2017-10-11 16:19:57,OOS,979.950000,2017-10-11,08:47:44
4040,4040,BSCVAL04,0790,0791,SAMBILVAL7,7767,2017-10-11 07:17:59,2017-10-11 07:19:02,NaN,1.050000,2017-10-11,08:47:44
4041,4041,BSCVAL04,1009,1009,BARBULNOR6,7767,2017-07-16 19:19:37,2017-10-11 16:19:57,OOS,979.950000,2017-10-11,08:47:44
4042,4042,BSCVAL04,1009,1010,BARBULNOR7,7767,2017-07-16 19:19:55,2017-10-11 16:19:57,OOS,979.950000,2017-10-11,08:47:44
4043,4043,BSCVAL04,1009,1011,BARBULNOR8,7767,2017-07-16 19:19:46,2017-10-11 16:19:57,OOS,979.950000,2017-10-11,08:47:44
4044,4044,BSCVAL04,1030,1030,BARBULA6,7767,2017-10-06 21:52:01,2017-10-11 16:19:57,OOS,979.950000,2017-10-11,08:47:44
4045,4045,BSCVAL04,1030,1031,BARBULA7,7767,2017-10-06 21:55:37,2017-10-11 16:19:57,OOS,979.950000,2017-10-11,08:47:44
4046,4046,BSCVAL04,1030,1032,BARBULA8,7767,2017-10-06 22:06:08,2017-10-11 16:19:57,OOS,979.950000,2017-10-11,08:47:44
4047,4047,BSCVAL04,1033,0420,IEQ3,7767,2017-10-10 17:49:41,2017-10-11 16:19:57,OOS,979.950000,2017-10-11,08:47:44
4048,4048,BSCVAL04,1033,1037,IEQ9,7767,2017-09-30 19:07:46,2017-10-11 16:19:57,OOS,979.950000,2017-10-11,08:47:44
4049,4049,BSCVAL04,1093,1093,CUMACA6,7767,2017-10-11 00:00:00,2017-10-11 00:04:36,NaN,4.600000,2017-10-11,08:47:44
4050,4050,BSCVAL04,1093,1094,CUMACA7,7767,2017-10-11 00:00:00,2017-10-11 00:04:36,NaN,4.600000,2017-10-11,08:47:44
4051,4051,BSCVAL04,1093,1095,CUMACA8,7767,2017-10-11 00:00:00,2017-10-11 00:04:36,NaN,4.600000,2017-10-11,08:47:44
4052,4052,BSCVAL04,1135,0421,IEQ4,7767,2017-09-30 19:07:43,2017-10-11 16:19:57,OOS,979.950000,2017-10-11,08:47:44
4053,4053,BSCVAL04,1135,1035,IEQ8,7767,2017-09-30 19:07:50,2017-10-11 16:19:57,OOS,979.950000,2017-10-11,08:47:44